.wrapper {
  display: flex;
  flex-direction: column;
}
.list {
  width: 30rem;
  height: 12rem;
  background-color: #282c34;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem;
  margin: 0;
  margin-bottom: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.button button {
  text-align: center;
  padding: 0.7rem 2rem;
  background-color: #009a76;
  border: none;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.button button:hover {
  background-color: #006f55;
}


@media (max-width: 1000px) {
  .list {
    width: 25rem;
  }
}

@media (max-width: 830px) {
  .list {
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 1rem 0.5rem;
    gap: 0.3rem;
  }
}

@media (max-width: 580px) {
  .list {
    height: 7rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
  }
}
