.list {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.list li {
  list-style-type: none;
  background-color: #026951;
  padding: 1rem;
  border-radius: 4px;
}

.list a {
  text-decoration: none;
  color: beige;
}

.list li:hover,
.list li:active,
.list li.active {
  background-color: #009a76;
}
