.switcher {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;

  cursor: pointer;
  /* font-weight: bold; */
  font-size: inherit;
  padding: 0;
}

.active {
  color: #e6e6e6;
}
