.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logoContainer {
  width: 150px;
}

.logoImage {
  width: 100%;
}

.navLinksContainer {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: calc(10px + 1.5vmin);
  color: #707070;
}

.navLinksList {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
