.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 1.5vmin);
  color: #707070;
  padding: 0 20px;
}

.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}
