.levels {
  list-style: none;
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  margin: 0;
  gap: 1rem;
}

.levels li {
  background-color: #009a76;
  border-radius: 5px;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  white-space: nowrap;
}

@media (max-width: 730px) {
  .levels li {
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
  }
}
@media (max-width: 580px) {
  .levels li:not(:first-child) {
    display: none;
  }
}
