.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 20px;
}

.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 10px;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.active {
  border-bottom: solid;
}
