.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #282c34;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 1rem;
}
.secret-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.secret-image {
  width: 200px;
  height: 155px;
}

.secret-image img {
  width: 100%;
}

.secret-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.secret-details h2 {
  text-align: center;
  margin: 0;
}
.score {
  background-color: #009a76;
  padding: 1.5rem 2rem;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}
