/* .wrapper {
  background-color: #282c34;
  border-radius: 5px;
  padding: 2rem;
  width: 40rem;
  margin: 2rem auto;
  position: relative;
}
.float {
  width: 300px;
  height: 220px;
  float: right;
  margin-bottom: 3rem;
}

.float img {
  width: 100%;
}
.text {
  margin-bottom: 2rem;
}
.species {
  font-style: italic;
}
.wrapper audio {
  margin-bottom: 2rem;
}
.arrow {
  background-size: cover;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow-left {
  background-image: url("../assets/arrow-left.png");
  left: -5rem;
}
.arrow-right {
  background-image: url("../assets/arrow-right.png");
  right: -5rem;
} */

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 2rem 1rem;
}

.container .img {
  width: 300px;
  height: 250px;

  border: 8px solid #282c34;
  overflow: hidden;
  position: relative;
}

.container .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
}

.container .img:hover img {
  transform: scale(1.1);
}

.title {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  bottom: 8px;
  left: 8px;
  cursor: pointer;
}
