/* .App {
  text-align: center;
} */

.bg-image {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #493732;
  /* background-color: brown; */
}

/* .content span {
  color: #01674d;
} */

.content a {
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  background-color: #ff6f61;
  border: none;
  border-radius: 5px;
  color: #f5f3ea;
  cursor: pointer;
}

.content a:hover {
  background-color: #c7574c;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #f5f3ea;
}

@media only screen and (max-width: 768px) {
  .content h1 {
    font-size: 3rem;
  }

  button {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 620px) {
  .content h1 {
    margin-bottom: 5rem;
    min-width: 400px;
  }
}
